body {
    font-family: Arial, sans-serif;
}

.hero {
    padding: 80px 20px;
    background-color: #e6f7f7;
}

.hero-img {
    width: 250px;
    margin-top: 20px;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
}

.about {
    padding: 60px 20px;
}

.contact {
    padding: 50px 0;
}
.card-img-top {
    width: 3rem;   
    height:3rem;  
    margin: 20px auto 10px;
    display: block;
}